name: 02 - DAST Pipeline

on:
  push:
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - 'docs/**'
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  pull-requests: write
  security-events: write

jobs:
  dast-frontend:
    uses: ./.github/workflows/dast.yml
    with:
      service: frontend
    secrets: inherit

  dast-backend:
    needs: dast-frontend
    uses: ./.github/workflows/dast.yml
    with:
      service: backend
    secrets: inherit
