name: 01 - Main CI / CD Pipeline

on:
  push:
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - 'docs/**'
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  pull-requests: write
  security-events: write

jobs:
  build:
    uses: ./.github/workflows/build.yml
    secrets: inherit

  sca:
    needs: build
    uses: ./.github/workflows/sca.yml
    secrets: inherit

  sast:
    needs: build
    uses: ./.github/workflows/sast.yml
    secrets: inherit

  license-compliance:
    needs: build
    uses: ./.github/workflows/license-compliance.yml
    secrets: inherit

  dast-backend:
    needs: build
    uses: ./.github/workflows/dast.yml
    with:
      service: backend
    secrets: inherit

  dast-frontend:
    needs: build
    uses: ./.github/workflows/dast.yml
    with:
      service: frontend
    secrets: inherit

