name: 01 - Main CI / CD Pipeline

on:
  push:
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - 'docs/**'
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  pull-requests: write
  security-events: write

jobs:
  build:
    uses: ./.github/workflows/build.yml
    secrets: inherit

  #Análisis de dependencias
  sca:
    needs: build
    name: SCA
    uses: ./.github/workflows/sca.yml
    secrets: inherit
  
  #Análisis de código Estático
  sast:
    needs: build
    uses: ./.github/workflows/sast.yml
    secrets: inherit
  
  #Análisis y Uso de Licencias.
  license-compliance:
    needs: build
    name: License Compliance
    uses: ./.github/workflows/license-compliance.yml
    secrets: inherit

  #Análisis de código Dinámico
  dast:
    needs: [build]
    name: DAST Scan
    uses: ./.github/workflows/dast.yml
    secrets: inherit
    with:
      image-tag: ${{ needs.docker.outputs.image-tag }}